*~
node_modules/
public/
public/categories/index.html
public/index.html
public/index.xml
public/junk/index.html
public/notes/index.html
public/notes/index.xml
public/notes/solid/index.html
public/notes/sql/index.html
public/sitemap.xml
public/tags/index.html
static/js/
temp/