{{- $page := .page }}
{{- $content := .content }}
{{- with $page }}
          <article class="default">
            <header class="headline">
              {{- partial "content-header.html" . }}
            </header>
{{ partial "heading-pre.html" . }}<h4 id="{{ .Title | plainify | anchorize }}" style="text-align: center;">{{ .Title }}</h4>{{ partial "heading-post.html" . }}

{{ $content | safeHTML }}
            <footer class="footline">
              {{- partial "content-footer.html" . }}
            </footer>
          </article>
{{- end }}
