<!DOCTYPE html>
{{ $baseUrl := .Site.BaseURL }}
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="alternate" href="/index.xml" type="application/rss+xml" title="{{ .Site.Title }}">
    <link rel="icon" href="{{ $baseUrl }}/favicon.ico">
    <title>{{ if not .IsHome }}{{ .Title }} - {{ end }}{{ .Site.Title }}</title>
    <link href="http://fonts.googleapis.com/css?family=PT+Sans:400,700" rel="stylesheet" type="text/css">
    <link rel="stylesheet"
        href="{{ $baseUrl }}/css/highlight/{{ with .Site.Params.highlightStyle }}{{ . }}{{ else }}default{{ end }}.css">
    <!-- <link rel="stylesheet" href="{{ $baseUrl }}/css/bootstrap.min.css"> -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ $baseUrl }}/css/theme.css">
    <link rel="stylesheet" href="{{ $baseUrl }}/css/bootie-docs.css">
    <link rel="stylesheet" href="{{ $baseUrl }}/css/site.css">
    <link rel="stylesheet" href="{{ $baseUrl }}/css/math.css">
    <link rel="stylesheet" href="{{ $baseUrl }}/css/metronome.css">
    <script type="text/x-mathjax-config">
        MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
    </script>
    <script async
        src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/latest.js?config=TeX-AMS_CHTML"></script>
</head>

<body role="document">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{{ $baseUrl }}/">{{ .Site.Title }}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                {{ $url := .URL }}
                {{ with .Site.Menus.main }}
                {{ range $menu := . }}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{.Name}}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {{ range .Children }}
                        {{ if .HasChildren }}
                        <a class="dropdown-item" href="{{ .URL }}">{{ .Name }} ...</a>
                        {{ else }}
                        <a class="dropdown-item" href="{{ .URL }}">{{ .Name }}</a>
                        {{ end }}
                        {{ end }}
                    </div>
                </li>
                {{ end }}
                {{ end }}

                {{ if not .Site.Params.noCategoryLink }}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                        aria-expanded="false">Categories<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        {{ range $name, $taxonomy := .Site.Taxonomies.categories }}
                        <li><a href="{{ $baseUrl }}/categories/{{ $name | urlize }}">{{ title $name }}</a></li>
                        {{ end }}
                    </ul>
                </li>
                {{ end }}


                {{ if not .Site.Params.noCategoryLink }}
                <li class="dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Categories
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {{ range $name, $taxonomy := .Site.Taxonomies.categories }}
                        <a class="dropdown-item"
                            href="{{ $baseUrl }}/categories/{{ $name | urlize }}">{{ title $name }}</a>
                        {{ end }}
                    </div>
                </li>
                {{ end }}
            </ul>
            {{ with .Site.Params.searchDomain }}
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
            {{ end }}
        </div>
    </nav>

    <div class="container">